opencv-python-headless
deepface[tensorflow-cpu]
numpy<2.0
scikit-learn
fastapi
uvicorn[standard]
bcrypt==4.0.1
pydantic-settings
sqlalchemy
psycopg2-binary
python-multipart
boto3
python-jose[cryptography]
python-dotenv
