opencv-python-headless 
deepface
numpy<2.0
scikit-learn
fastapi
uvicorn[standard]
bcrypt==4.0.1
pydantic-settings
sqlalchemy
psycopg2-binary
python-multipart
boto3
python-jose[cryptography]
python-dotenv
supervision
albumentations
passlib[bcrypt]
zeroconf==0.132.0
qrcode==7.4.2
psutil==5.9.8